<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" >
        <img src="assets/images/chartjs-logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Angular ChartJS
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!-- <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul> -->
      
        <div class="navbar-nav">
          
        <a class="nav-item nav-link" routerLink="/bar-chart">Bar Chart<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/line-chart">Line Chart</a>
        <a class="nav-item nav-link" routerLink="/pie-chart">Pie Chart</a>
        <a class="nav-item nav-link" routerLink="/doughnut-chart">Doughnut Chart</a>
        <a class="nav-item nav-link" routerLink="/radar-chart">Radar Chart</a>
        <!-- <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>  -->
      </div>
    </div>
  </nav>
