/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.chart-style {
    display: block;
    padding: 5px;
    padding-top: 2%;
    top: auto;
    margin-top: 2%;
}